<?xml version="1.0"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <!--<add name="MyCon" connectionString="Data Source=ManojKandpal-PC; Initial Catalog=IMS; Persist Security Info=True; User ID=USER ID; Password=Password" 
         providerName="System.Data.SqlClient"/>-->
    <add name="MyConNew" connectionString="Data Source=Mohan\SQLEXPRESS;Initial Catalog=IMS_New;User ID=179232202163144202254024246189095177021098027090;Password=154179057232002110062159106200020075196035050163;Persist Security Info=True;" providerName="System.Data.SqlClient"/>

    <!--in Oracle Data Base>-->
    <!--<add name="MyConNew"
        connectionString="Data Source=ManojKandpal-PC;Initial Catalog=IMS;User ID=179232202163144202254024246189095177021098027090;Password=173025018105161035198070048040170010175196153177;Unicode=True;"
        providerName="System.Data.OracleClient" />-->
  </connectionStrings>
  <!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
